@font-face {
    font-family: Gutter_Rust_Italic;
    src: url("/assets/fonts/Gutter_Rust_Italic.otf");
}

body{
    background-color: #29282C;
}

.main_header_div {
    /* background-color: #212529; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.header_left_side {
    display: flex;
    align-items: center;
    width: 50%;
}

.header_left_side img {
    width: 20%;
    height: 10%;
}

.header_left_side label{
    font-size: 40px;
    font-family: Gutter_Rust_Italic;
    color: #dee2e6;
}

.page_logo_div {}

.header_right_side {
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: right;
    align-content: center;
}

.header_right_side input{
    cursor: text;
    border-radius: 0.2rem;
    margin-right: 25px;
    border: none;
    outline: none;
    background-color: #ced4da;
    color: #343a40;
    font-size: 20px;
    border-bottom: 1px #54525200 solid;
}

.display_box {
    display: flex;
}



hr {
    width: 100%;
    color: #ebf448;
    align-self: center;
    margin: auto;
    height:10px;
}

.other_details {
    grid-template-columns: repeat(2, 1fr);
}

.other_details label {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px;
    margin-left: 2%;
    color: #E5E5E5;
}


#visibility_value {
    font-weight: 350;
    font-size: 23px;
    color: #E5E5E5;
}
.heading2{
    color: aliceblue;
}
